# electron_mirror=https://npm.taobao.org/mirrors/electron/
# electron_builder_binaries_mirror=https://npm.taobao.org/mirrors/electron-builder-binaries/
# sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
# # 或者使用 npmmirror 新域名（推荐）
# # electron_mirror=https://npmmirror.com/mirrors/electron/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
qlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/